@import './variables.scss';

body,
#root {
	margin: 0;
	height: 100%;
}

html {
	height: 100%;
}

.absolute-centered {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: auto;
	z-index: 0;
}

.w-100 {
	width: 100%;
}
